html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', system-ui, sans-serif;
}

.card {
    border: none;
    border-radius: 1rem;
}

.card-header {
    border-bottom: 1px solid var(--bs-border-color);
}

#map {
    width: 100%;
    height: 80vh;
    border-radius: 0.75rem;
}

/* Loader PRO */
.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Dark tweaks */
[data-bs-theme="dark"] .card {
    background-color: #1e1e1e;
}

[data-bs-theme="dark"] .card-header {
    background-color: #1e1e1e;
}

.app-footer {
    padding: 0.75rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background-color: var(--bs-body-bg);
}

.app-footer {
    position: sticky;
    bottom: 0;
    z-index: 10;
}


[data-bs-theme="dark"] .app-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}